@font-face {
  font-family: EDU;
  src: url(./EduAUVICWANTHand-VariableFont_wght.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@media (min-width: 1000px) and (max-width: 2200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .slider::-webkit-scrollbar {
    display: none;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    cursor: url(./custom_cursor.png), pointer;
  }


  body::-webkit-scrollbar {
    background-color: transparent;
  }

  body::-webkit-scrollbar-thumb {
    background: linear-gradient(blue, lightblue);
  }

  .crsr {
    height: 2vw;
    width: 2vw;
    background: linear-gradient(#000, #fff, grey);
    z-index: 10;
    position: fixed;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  main {
    position: relative;
    overflow: hidden;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
  }

  nav {
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.651);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3vw 1.1vw;
    position: fixed;
    z-index: 99;
  }

  nav>img {
    width: 5vw;
    height: 90%;
    border-radius: 1vw;
  }

  nav > .nav_name > #name_head span {
    font-size: 1.3vw;
    font-weight: 900;
    font-family: EDU;
  }

  nav > .nav_name > #name_head > #sec_name {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    margin-left: 0.3vw;
    font-size: 1.1vw;
    margin-right: 0.3vw;
  }

  nav > .nav_name > #name_head > #ai {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    margin-left: 1vw;
    font-size: 1.3vw;
  }

  .page1 {
    width: 100%;
    height: 100vh;
    background-color: #00000041;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page1 h1 {
    font-size: 4vw;
    color: white;
    font-family: "Fira Sans", sans-serif;
  }

  .page1 #welcome {
    font-family: "Playwrite DK Loopet", cursive;
  }

  #wel {
    position: relative;
  }

  #welcome > #wel::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #333;
  }

  #wel .page1 #hero {
    font-family: "Fira Sans", sans-serif;
  }

  .page1 p {
    font-family: "Lato", sans-serif;
    color: white;
    font-size: 1.1vw;
    /* padding: 1vw 2vw; */
    width: 29vw;
  }

  #hero_change {
    color: rgb(99, 99, 255);
  }

  #wel {
    color: rgb(99, 99, 255);
  }

  .page2 {
    width: 100%;
    height: 100vh;
    background-color: #00000041;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page2 > #def {
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 3vw;
  }

  .page3 {
    width: 100%;
    min-height: 100vh;
    background-color: #00000041;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page3 > #aplication {
    color: white;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 3vw;
  }

  .page4 {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    border-top-left-radius: 7vw;
    border-top-right-radius: 7vw;
    padding: 2vw 2vw;
  }

  .page4 .slider {
    width: 100%;
    height: 70vh;
    background-color: rgba(139, 139, 139, 0.212);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7vw;
    border-radius: 2vw;
  }

  .page4 .slider .child {
    width: 25vw;
    height: 90%;
    /* background-color: lightblue; */
    background: #00000011;
    margin: 1.1vw;
    border-radius: 1.4vw;
    backdrop-filter: blur(5vw);
    overflow: hidden;
    padding: 1vw 1.1vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }

  .child img {
    width: 100%;
    height: 60%;
    border-radius: 1.3vw;
  }

  #cne {
    text-align: center;
    font-size: 1.2vw;
  }

  .child h1 {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 1.9vw;
    color: white;
    font-weight: 600;
  }

  .child P {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0.7vw;
    color: #707070;
    font-weight: 600;
  }

  #ar_right {
    position: absolute;
    right: 3.8vw;
    bottom: 2.7vw;
    font-size: 2vw;
    color: white;
  }

  .page5 {
    background-color: rgb(99, 99, 99);
    border-top-left-radius: 7vw;
    border-top-right-radius: 7vw;
    width: 100%;
    height: 100vh;
  }
  .mobile{
    display: none;
  }
}

@media (max-width: 650px) {
  .pc {
    display: none;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .main {
    position: relative;
    overflow: hidden;
  }

  .nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    z-index: 99;
  }

  .nav > #head_m {
    font-family: "Roboto Slab", serif;
    font-size: 10vw;
  }

  .nav i {
    font-size: 7vw;
    font-weight: 900;
  }

  .page1_m {
    width: 100%;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }

  .page1_m .intro_m {
    width: 100%;
    height: 60vh;
    /* background-color: red; */
    position: absolute;
    top: 30vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    padding: 2vw;
  }

  .page1_m p {
    font-family: "Rubik", sans-serif;
    margin-top: 10vw;
    font-size: 6vw;
    width: 90vw;
  }

  .page1_m .intro_m h1 {
    font-size: 13vw;
  }

  .page1_m .intro_m h1 span {
    color: rgb(99, 99, 255);
  }

  .page2_m {
    width: 100%;
    height: 80vh;
    background-color: #3333;
  }

  .slider::-webkit-scrollbar{
    display: none;
  }

  .page2_m .slider_m {
    width: 100%;
    height: 70vh;
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .page2_m .slider_m .child_m {
    width: 93vw;
    height: 90%;
    /* background-color: salmon; */
    margin: 5vw;
    display: inline-block;
    border-radius: 5vw;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(7vw);
    border: 1px solid #00000056;
  }

  .page2_m .slider_m .child_m img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
  }

  .page2_m .slider_m .child_m h1 {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 1.9vw;
    color: white;
    font-weight: 600;
    margin-left: 2vw;
  }

  .page2_m .slider_m .child_m p {
      font-family: "Josefin Sans", sans-serif;
      margin-top: 0.7vw;
      color: #707070;
      font-weight: 600;
      width: 100%;
      padding: 1vw;
      font-size: 4.4vw;
      margin-left: 3vw;
  }

  #ar_right_m {
    position: absolute;
    right: 5vw;
    bottom: 7vw;
    font-size: 7vw;
    color: white;
  }

  .page2_m #appli {
    font-size: 9vw;
    font-family: "Roboto Slab", serif;
    text-align: center;
  }
}
